<section class="container" id="about-us">
    <div class="container-about">
        <div class="about-wrapper-text">
            <h2 class="about-title">About Us</h2>
            <div class="about-descr">
                <p>Welcome to our premium watch collection, where luxury and style meet
                    functionality and precision. Our selection of
                    timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always
                    have a reliable
                    and stylish accessory on your wrist.</p>
                <p>At our premium watch collection, we believe that a watch is more than just a
                    timekeeping device – it's a statement piece
                    that reflects your personality and style. So why settle for anything less than the best?</p>
            </div>
            <div class="about-wrapper-link">
                <a class="about-link" href="#catalog" aria-label="Watch our proposition">View catalog</a>
            </div>
        </div>
        <picture>
            <source srcset="/img/about-us/about-desct.jpg 1x, /img/about-us/about-desct-2x.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="/img/about-us/about-tab.jpg 1x, /img/about-us/about-tab-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="/img/about-us/about-mob.jpg 1x, /img/about-us/about-mob-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="about-img" src="/img/about-us/about-mob.jpg" alt="big-black-watch" width="704" />
        </picture>
    </div>
</section>