<section class="container advertisement-container">
  <div class="advertisement">
    <h2 class="visually-hidden">
      Choose your story, making every moment unique. Time is your style, and we
      reveal it.
    </h2>
    <p class="highlight-text">
      Choose <span class="accent-text">your story</span>, making every moment
      unique. Time is your style, and we reveal it.
    </p>
    <a href="#contact-us" class="advertisement-button" aria-label="Contact us">Contact Us</a>
  </div>
</section>
