<section class="container" id="catalog">
  <div class="catalog catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/catalog1.webp    1x,
              /img/catalog/catalog1-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/catalo1-tab1x.webp 1x,
              /img/catalog/catalo1-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/catalo1-tel1x.webp 1x,
              /img/catalog/catalo1-tel2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/catalog/catalo1-tel1x"
            alt="black clock"
            class="catalog-img"
            width="292"
          />
        </picture>
        <h3 class="catalog-list-subtitle">
          Garmin Fenix 7X Pro Sapphire Solar
        </h3>
        <p class="catalog-list-text">€500</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/catalog2.webp    1x,
              /img/catalog/catalog2-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/catalo2-tab1x.webp 1x,
              /img/catalog/catalo2-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/catalo2-tel1x.webp 1x,
              /img/catalog/catalo2-tel2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/catalog/catalo2-tel1x"
            alt="black clock"
            class="catalog-img"
            width="292"
          />
        </picture>
        <h3 class="catalog-list-subtitle">Garmin Marq Athlete</h3>
        <p class="catalog-list-text">€450</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/catalog3.webp    1x,
              /img/catalog/catalog3-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/catalo3-tab1x.webp 1x,
              /img/catalog/catalo3-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/catalo3-tel1x.webp 1x,
              /img/catalog/catalo3-tel2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/catalog/catalo3-tel1x"
            alt="black clock"
            class="catalog-img"
            width="292"
          />
        </picture>
        <h3 class="catalog-list-subtitle">Garmin Descent MK1</h3>
        <p class="catalog-list-text">€680</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/catalog4.webp    1x,
              /img/catalog/catalog4-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/catalo4-tab1x.webp 1x,
              /img/catalog/catalo4-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/catalo4-tel1x.webp 1x,
              /img/catalog/catalo4-tel2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/catalog/catalo4-tel1x"
            alt="black clock"
            class="catalog-img"
            width="292"
          />
        </picture>
        <h3 class="catalog-list-subtitle">Garmin D2 Delta PX</h3>
        <p class="catalog-list-text">€380</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/catalog5.webp    1x,
              /img/catalog/catalog5-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/catalo5-tab1x.webp 1x,
              /img/catalog/catalo5-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/catalog5.webp"
            alt="black watch"
            loading="lazy"
            width="292"
          />
        </picture>
        <h3 class="catalog-list-subtitle">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-list-text">€400</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/catalog6.webp    1x,
              /img/catalog/catalog6-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/catalo6-tab1x.webp 1x,
              /img/catalog/catalo6-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/catalog6.webp"
            alt="black watch"
            loading="lazy"
            width="292"
          />
        </picture>
        <h3 class="catalog-list-subtitle">Tube Watch S42 Date Steel With...</h3>
        <p class="catalog-list-text">€395</p>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
