<div class="container contact-us-container" id="contact-us">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-main">
        <div class="contact-us-menu">
            <p class="contact-us-menu-text">Please use the form below to contact us. Enter your name, email, phone, and
                message and we'll get back to you shortly.</p>
            <form class="contact-us-form">
                <input type="text" name="contact-us-user-name" id="contact-us-user-name" class="contact-us-input"
                    placeholder="Name" required />
                <input type="email" name="contact-us-user-email" id="contact-us-user-email" class="contact-us-input"
                    placeholder="Email" required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" />
                <input type="tel" name="contact-us-user-tel" id="contact-us-user-tel" class="contact-us-input"
                    placeholder="+380" required pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" title="(+380-XX-XXX-XX-XX)" />
                <textarea name="contact-us-user-comment" id="contact-us-user-comment" class="contact-us-comment"
                    placeholder="Comment"></textarea>
                <button type="submit" class="contact-us-btn-submit">Send</button>
            </form>
        </div>
        <div class="contact-us-photo">
            <picture>
                <source srcset="./img/contact-us/contact-us-tel.jpg 1x, ./img/contact-us/contact-us-tel2x.jpg 2x"
                    media="(max-width:767px)" />
                <source srcset="./img/contact-us/contact-us-lap.jpg 1x, ./img/contact-us/contact-us-lap2x.jpg 2x"
                    media="(min-width:768px)" />
                <source srcset="./img/contact-us/contact-us-dex.jpg 1x, ./img/contact-us/contact-us-dex2x.jpg 2x"
                    media="(min-width:1280px)" />
                <img src="./img/contact-us/contact-us-tel.jpg" alt="Watch on the rock" class="contact-us-image" />
            </picture>
        </div>
    </div>
</div>