<header class="container bottom-section">
  <div class="header-container">
    <a class="header-logo" href="./index.html">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#home">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#sale">Sale</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="header-address-page">
      <ul class="header-address-list">
        <li class="header-address-item">
          <a
            class="header-address-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.facebook.com/goITclub/" aria-label="Our facebook profile"
          >
            <svg class="header-address-svg" width="20" height="20">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-address-item">
          <a
            class="header-address-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/goitclub/" aria-label="Our instagram profile"
          >
            <svg class="header-address-svg" width="20" height="20">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-address-item">
          <a
            class="header-address-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.youtube.com/c/GoIT"
            aria-label="Our youtube profile"
          >
            <svg class="header-address-svg" width="20" height="20">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="burger">
      <button class="burger-menu" type="button">
        <svg class="burger-button" width="28" height="14" data-menu-open>
          <use href="/img/sprite.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
