<section class="hero" id="home">
  <div class="container">
    <div class="container-hero-wrapper">
      <div class="wrapper-title">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="wrapper-hero">
        <ul class="hero-image-list">
          <li class="hero-image-item">
            <img
              class="hero-people-img"
              srcset="
                /img/hero/hero-women-mob-1x.jpg 1x,
                /img/hero/hero-woman-mob-2x.jpg 2x
              "
              src="/img/hero/hero-women-mob-1x.jpg"
              alt="Victoria Romashenko"
            />
          </li>
          <li class="hero-image-item">
            <img
              class="hero-people-img"
              srcset="
                /img/hero/hero-man-1x-mob.jpg 1x,
                /img/hero/hero-man-2x-mob.jpg 2x
              "
              src="/img/hero/hero-man-1x-mob.jpg"
              alt="John Wax"
            />
          </li>
          <li class="hero-image-item">
            <img
              class="hero-people-img"
              srcset="
                /img/hero/hero-woman2-1x-mob.jpg 1x,
                /img/hero/hero-woman2-2x-mob.jpg 2x
              "
              src="/img/hero/hero-woman2-1x-mob.jpg"
              alt="Anastasia Trachuk"
            />
          </li>
        </ul>
        <a class="hero-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/hero/hero-image-desktop-1x.jpg 1x,
          /img/hero/hero-image-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/hero/hero-image-tab-1x.jpg 1x,
          /img/hero/hero-image-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero/hero-image-mob-1x.jpg 1x,
          /img/hero/hero-image-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="/img/hero/hero-image-desktop-1x.jpg"
        alt="black wristwatch"
        width="1150"
        class="hero-image"
      />
    </picture>
  </div>
</section>
