<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container">
      <div class="sale-watch-item">
        <ul class="sale-list">
          <li class="sale-list-item">
            <picture class="sale-pictures-size">
              <source
                srcset="
                  /img/sale/sale1-pc1x.webp 1x,
                  /img/sale/sale1-pc2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/sale1-tab1x.webp 1x,
                  /img/sale/sale1-tab2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/sale1-mob1x.webp 1x,
                  /img/sale/sale1-mob2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-first-img"
                src="/img/sale/sale1-mob1x.webp"
                alt="watch-with-stealth-mode"
                width="96"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture class="sale-pictures-size">
              <source
                srcset="
                  /img/sale/sale2-pc1x.webp 1x,
                  /img/sale/sale2-pc2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/sale2-tab1x.webp 1x,
                  /img/sale/sale2-tab2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/sale2-mob1x.webp 1x,
                  /img/sale/sale2-mob2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-second-img"
                src="/img/sale/sale2-mob1x.webp"
                alt="watch-with-sleep-mode"
                width="96"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture class="sale-pictures-size">
              <source
                srcset="
                  /img/sale/sale3-pc1x.webp 1x,
                  /img/sale/sale3-pc2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/sale3-tab1x.webp 1x,
                  /img/sale/sale3-tab2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/sale3-mob1x.webp 1x,
                  /img/sale/sale3-mob2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-first-img"
                src="/img/sale/sale3-mob1x.webp"
                alt="watch-with-good-bracers"
                width="96"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture class="sale-pictures-size">
              <source
                srcset="
                  /img/sale/sale4-pc1x.webp 1x,
                  /img/sale/sale4-pc2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/sale4-tab1x.webp 1x,
                  /img/sale/sale4-tab2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/sale4-mob1x.webp 1x,
                  /img/sale/sale4-mob2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-first-img"
                src="/img/sale/sale4-mob1x.webp"
                alt="watch-with-sensor"
                width="96"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-salebig">
          <picture>
            <source
              srcset="
                /img/sale/salebig-pc1x.webp 1x,
                /img/sale/salebig-pc2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/salebig-tab1x.webp 1x,
                /img/sale/salebig-tab2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/salebig-mob1x.webp 1x,
                /img/sale/salebig-mob2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="salebig-img"
              src="/img/sale/salebig-mob1x.webp"
              alt="big-marq-watch"
              width="328"
            />
          </picture>
        </div>
      </div>
      <div class="sale-subtitle-container">
        <h3 class="sale-subtitle">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="sale-tag">Product tag: 706587</p>
        <div class="sale-price">
          <p class="price-new">€1500</p>
          <p class="price-old">€3000</p>
        </div>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-list-filter">
          <li class="sale-list-filter-item">Fused carbon fiber</li>
          <li class="sale-list-filter-item">Grade-5 Titanuim</li>
          <li class="sale-list-filter-item">Athlete</li>
          <li class="sale-list-filter-item">Golfer</li>
          <li class="sale-list-filter-item">Commander</li>
          <li class="sale-list-filter-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
